.venv
chain-print/target/
/target/
/node_modules/
.rebuild.lock
__pycache__/
*.pyc
data/
/bin/
/.cache/
buildroot-external/board/ptlabel-pi0/wpa_supplicant.conf
.DS_Store
/.astro/
*.env
bridge-firmware/sdkconfig
bridge-firmware/sdkconfig.old
bridge-firmware/sdkconfig.defaults.local
